# pnpm
node_modules
.pnpm-debug.log
pnpm-debug.log

# Turborepo
.turbo

# Build outputs
dist
dist-ssr
*.tsbuildinfo

# Angular
.angular

# --- Environment & Logs ---
.env*
*.log
npm-debug.log*

# --- System Files ---
.DS_Store
Thumbs.db

# --- IDEs ---
/.idea/

*storybook.log
storybook-static

# ng-add schematic build output (bundled from schematics-src)
packages/angular/schematics/
